.colored{
    background-color: #9fcdff;
}
.copyright{
    text-align: right;
}
foot{
    height: 500px;
}
.max-h{
height: 225px;
}
.margin-sort{
    margin-left: 15em;
}
.margin-log{
    margin-right: 2em;
}
.marg-top{
    margin-top: 2em;
}